<?xml version="1.0"?>
<configuration>
	<system.web>
		<!--<identity impersonate="true"/>-->
		<customErrors mode="Off"/>
		<compilation debug="true" strict="false" explicit="true" />
	</system.web>
    <system.diagnostics>
        <assert assertuienabled="false" logfilename="c:\log.txt" />
    </system.diagnostics>
</configuration>
