<?xml version="1.0" standalone="yes"?>
<ProjectsToScanDataSet xmlns="http://tempuri.org/ProjectsToScanDataSet.xsd">
  <Projects>
    <AuditProvider>Code Auditor</AuditProvider>
    <Name>ssw</Name>
    <ProjectFile>\\frog\wwwroot$\ssw\ssw.vbproj</ProjectFile>
    <ProjectType>Web</ProjectType>
    <ProjectPath>\\frog\wwwroot$\ssw</ProjectPath>
    <AssemblyFile>\\frog\wwwroot$\ssw\bin\SSW.dll</AssemblyFile>
    <WebPath>http://frog/ssw/</WebPath>
    <WebStartPage />
  </Projects>
</ProjectsToScanDataSet>