<?xml version="1.0" standalone="yes"?>
<HealthAuditor>
  <CodeAuditor>
    <jobname>NorthwindWindowsVB</jobname>
    <reportpath />
    <email>False</email>
  </CodeAuditor>
  <HealthAuditorLastScanTime>
    <CodeAuditorScanTime>00:01:06</CodeAuditorScanTime>
  </HealthAuditorLastScanTime>
</HealthAuditor>