@Import url("Content.css");
@Import url("Footer.css");
@Import url("Header.css");
@Import url("Sidebar.css");

* {
	padding:0;
	margin:0;
	font-family: Verdana, Sans-Serif;
}
html{
	height:100%;
}
form{
	height:100%;
}
body {
    font-size: 16px;
    height: 100%;
}

ol, ol li, dl dt, dl dd
{
	line-height: normal;
	margin:0px 0px 0px 10px;
}


* p 
{
    margin: .5rem 0 1rem 0;
    line-height: normal;
}

/*** Allow transparent PNG to be renderred properly in IE ***/
img { behavior: url('/ssw/include/iepngfix.htc');}


.phoneNumber
{
	speak: spell-out;
}

.mailTest .textLabel
{
	width: 120px;
	display: inline-block;
	text-align: left;
	font-weight: bold;
		vertical-align: top;
		padding-top: 2px;
	}

.mailTest .enterTextbox
{
		width: 200px;
		height: 24px;
	}	

.mailTest .enterCheckbox
{
	margin-left: 124px;
	display:inline-block;
	}	

.mailTest .right
{
	float: right;
	right: 400px;
	position: relative;
	width: 362px;
}
	
.mailTest
{
	padding-left: 16px;
	}
	
.techBreakfastDescription	
	{
    min-height: 100px; margin-left: 30px;
    }
    
.techBreakfastIcon
    {
    float:left; margin-right: 8px;
    }
del *
{
	text-decoration:line-through;
}
img
{
    border:none;
    max-width:100%;
    height:auto;
}
.AdditionalInfo
{
    margin-left:10px;
    color:Gray;
    font-style:italic;
} 

/*****style for right float hover image of video***/
.joeVid {
	clear : left;
	width : 202px;
	float : right;
	text-align : left;
	font-size : 11px;
	line-height : 130%;
	margin-top : 0px;
}

.joeVid p { margin : 0 0 0 10px ; padding : 0 !important; margin-top : 3px; color : #444; }
/*seperate css from imgRight by using presenter's name to switch between class*/
.joe
{
	background:transparent url('/ssw/Events/Images/hover_joe.jpg') no-repeat 0 0;
}
.adam
{
	background:transparent url('/ssw/Company/Images/video_Adam.jpg') no-repeat 0 0;
}

#subpage a.imgRight
{
	width:182px;
	height:182px;
	color:#000;
	clear : right;
	display : block;
	border : none;
	margin:0 0 0 10px ;
	padding:0;
	border-bottom:none;
	cursor:pointer;
}
#subpage a.imgRight:hover
{
	background-position:0 -182px;
	border-bottom:none;
}

/* start video player styles */
#wrap
{
	height : 100%;
	width : 100%;
	position : absolute;
	left : 0;
	top : 0;
	z-index : 1;
	background : black;
}

#homeVidWrapper
{
	width : 522px;
	height : 298px;
	padding-top : 19px;
	padding-bottom : 19px;
	position : absolute;
	left : 50%;
	margin-left : -256px;
	top : 160px;
	display : none;
	z-index : 100;
}

#silverlightControlHost
{
    background : black url(/ssw/Video/loading.gif) scroll no-repeat center center;
	width : 512px;
	height : 288px;
	border : 5px solid #333;
}

#homeVidWrapper .closebutton, #homeVidWrapper .popup
{
	border : 1px solid #333;
	position : absolute;
	background : #cc4141;
	text-align : center;
	color : white;
	font-size : 9px;
	line-height : 13px;
	font-weight : bold;
}

#homeVidWrapper a
{
	color : white;
}

#homeVidWrapper .closebutton a
{
    padding : 0 15px;
}

#homeVidWrapper .closebutton, #homeVidWrapper .closebutton a
{
	top : 0px;
	right : 0px;
	width : 40px;
	height : 15px;
}

#homeVidWrapper .popup
{
	bottom : 0px;
	left : 0px;
	width : 135px;
	height : 15px;
}

/* ************************************************** */
/* *    Scrum Box: Standard Scrum Box with icon     * */
/* ************************************************** */
.scrumBox
{
	background:url("images/scrumIcon.png") no-repeat scroll 10px 10px #F5F5F5;
    border:1px solid #999999;
    margin:5px 10px;
    padding:5px 10px 5px 70px;
    width:70%;
}

/*  Red Square Button */

a.button {
    margin: 10px 10px 10px 5px;
    border: 0;
    padding: 0 2px 0 0;
    display:inline-block;
    position: relative;
    cursor: pointer;
    overflow: visible;
    color: white;
    font-family:Arial;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none !important;
    background: transparent url('/ssw/shop/images/button.png') no-repeat right top;
}

a.button span {
    background: transparent url('/ssw/shop/images/button.png') no-repeat left top;
    height: 30px;
    line-height: 29px;
    margin: 0 0 0 -5px;
    padding: 0 15px 0 16px;
    display: inline-block;
    white-space: nowrap;
}

a.button:active {
    background-position: right bottom;
    }

a.button:active span {
    background-position: left bottom;
}

/* Product Details Table */

table.product-details {
	padding:0px;
	margin:0 0 10px;
	border-collapse:collapse;
}

	table.product-details tr th, table.product-details tr td {
		padding:5px;
		border-bottom:1px solid #ccc;
		border-top:1px solid #ccc;
	}
	
	    table.product-details tr td img{
		    margin:0 6px;
	    }
		
		table.product-details tr th {
			font-weight:bold;
			font-size:1.2em;
			background:#e9e9e9;
		}
		
		table.product-details tr th[scope="col"], table.product-details tr th[scope="row"] {
			text-align:left;
			background-color:#F9F9F9;
			font-size:1em;
			width:25%;
		}

table.product-history tbody tr td table {
	padding:0px;
	margin:0 0 10px;
	border-collapse:collapse;
} 

	table.product-history tbody tr td table tr th, table.product-history tbody tr td table tr td {
		padding:5px;
		border-bottom:1px solid #ccc;
		border-top:1px solid #ccc;
	}
	
	    table.product-history tbody tr td table tr td img{
		    margin:0 6px;
	    }
		
		table.product-history tbody tr td table tr th {
			font-weight:bold;
			font-size:1.2em;
			background:#e9e9e9;
		}
		
		table.product-history tbody tr td table tr th[scope="col"], table.product-history tbody tr td table tr th[scope="row"] {
			text-align:left;
			background-color:#F9F9F9;
			font-size:1em;
		}
		
table.product-update {
	padding:0px;
	margin:20px 0 10px;
	border-collapse:collapse;
}

	table.product-update tr th, table.product-update tr td {
		padding:5px;
		border-bottom:1px solid #ccc;
		border-top:1px solid #ccc;
	}
		
		table.product-update tr th {
			font-weight:bold;
			font-size:1.2em;
			background:#e9e9e9;
		}
		
		table.product-update tr th[scope="col"], table.product-update tr th[scope="row"] {
			text-align:left;
			background-color:#F9F9F9;
			font-size:1em;
		}

table.outline
{
    margin: 1em 0 3em 0;
    font-size: 12px;
    border-collapse: collapse;
}
table.outline caption
{
    text-align: left;
    padding-left: 1em;
    font-weight: bold;
}
table.outline td,
table.outline th
{
    padding: 0.5em 1em;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    text-align:left;
}
table.outline th[scope=row]
{
    background-color: #f0f0f0;
    color: #575757;
    width: 33%;
}
table.outline th.topic 
{
    width: 30%;
}