#container
{
	background-color: transparent;
}

#wrap
{
	height : 100%;
	width : 100%;
	position : absolute;
	left : 0;
	top : 0;
	z-index : 1;
	background : black;
}

#homeVidWrapper
{
	width : 522px;
	height : 298px;
	padding-top : 19px;
	padding-bottom : 19px;
	position : absolute;
	left : 50%;
	margin-left : -256px;
	top : 160px;
	display : none;
	z-index : 100;
}

#divPlayer_0
{
    background : black url(/ssw/Video/loading.gif) scroll no-repeat center center;

	width : 512px;
	height : 288px;
	border : 5px solid #333;
}

#homeVidWrapper .closebutton, #homeVidWrapper .popup
{
	border : 1px solid #333;
	position : absolute;
	background : red;
	text-align : center;
	color : white;
	font-size : 9px;
	line-height : 13px;
	font-weight : bold;
}

#homeVidWrapper a
{
	color : white;
}

#homeVidWrapper .closebutton
{
	top : 0px;
	right : 0px;
	width : 35px;
	height : 15px;
}

#homeVidWrapper .popup
{
	bottom : 0px;
	left : 0px;
	width : 135px;
	height : 15px;
}

#featurewall img { height : 186px; width : 100%; }