@media print {
    h1, .h1, h2, .h2, h3, .h3, h4, h5, h6 {
        margin: 10pt 0 5pt;
        page-break-after:avoid; 
        page-break-inside:avoid;
        padding:0;
    }

    html, body, table {
        border: 1px solid white;
        height: 99%;
        page-break-after: avoid;
        page-break-before: avoid;
    }

    .container {
        padding:0;
    }

    .ssw-blurb {
        display: block !important;
    }

    .collapse {
        display: inline-block;
    }

    .panel-group .panel-default {
        float: left;
        width: 33%;
    }

    #MenuLower, #SidebarLeft, .login-shop, .footer .footer-links, #Content .partner-info img, .event-more, .btn, .office, #UserPanel, .footer, #social-media-links {
        display: none;
    }

    #maincontentColumns, #maincontentFull, #maincontentLater {
        margin: 0 0 0 0;
    }

    #EventsWidget .event, #eventsPane .event {
        height:auto;
        border-bottom:1px solid #ccc;
        padding-bottom:15pt;
        margin-bottom:15pt;
    }

    #WhatWeDo, #Services {
        margin-bottom:15pt;
        border-bottom:1px solid #ccc;
        padding-bottom:15pt;
    }

    .panel-group .panel-default>.panel-heading a.nsw h3.panel-title, .panel-group .panel-default>.panel-heading a.qld h3.panel-title, .panel-group .panel-default>.panel-heading a.vic h3.panel-title {
        padding-left:0 !important;
        font-size:initial;
        background:none !important;
        color:#cc4141 !important;
    }

    #WhatWeDo .do-development, #WhatWeDo .do-training, #WhatWeDo .do-design, #WhatWeDo .do-rules{
        float:left;
        width:50%
    }

    #WhatWeDo a, #Services a h3 {
        padding:0;
        text-align:left;
        height: initial;
        line-height:1rem;
        margin: 10pt 0 5pt 0;
    }

    #WhatWeDo h2.special, #Services h2.special {
        padding:0;
        line-height:initial;
        font-size:initial;
        margin:0;
        position:relative;
    }
    
    .grey-gradient{
        padding-bottom:0;
    }

    #Video{
        padding:0 0 15pt 0;
    }

    #Video h2 {
        font-size:1.8rem;
    }

    #Content {
        padding-bottom:0;
    }

    #EventsCalendar {
        page-break-before:always;
    }

    #isotope div.item[style] {
        position:initial !important;
        display:inline-block !important;
    }

    #isotope div.item > a > img {
        width:60px;
        height:60px; 
    }

    #isotope div.item h3 {
        color:#cc4141 !important;
    }

    table th, table td {
        display:table-cell
    }

    #Header .breadcrumb a[href]:after, a#MenuLogo[href]:after, #MenuUpper a[href]:after {
        content: none;
    }

    .no-print, #BuiltOnAzure, .CampaignType--popup {
        display: none;
    }

    a.ignore:after, #isotope .item a[href*="//"]:not([href*="ssw.com"]):after {
        content: " (" attr(href) ") " !important;
    }

}
