div#headerTitle
{
	height: auto;
	background-image: none;
	position:relative ;
	padding: 0 0 20px 0; 
	
}

div#headerTitle h1
{
	position: relative;
	
	left: 0;
	top: auto;
	
	padding: 0;
}
#mainContainer {
margin: 0 0 0 0;
}

TD#ctl00_sidebarTD
{
width:0;
left:0;
}

div#leftSidebar
{
	position: absolute;
	top: 0;
	left: 0;
    width: 0;
    height: 0;
    
    display: none;
    visibility: hidden;
 }

div#footer
{
	margin-top: 30px;
	padding-top: 20px;
}
.noPrint {
	display: none;
}
.noScreen {
	visibility: visible;
	display:inherit;
}
#productInfo #productDescription {
	padding-left: 0px;
	margin-top: 15px;	
}
#productInfo {
	clear: both;
	display: block;
	margin-right: 0px;
}

/* FORM */

#msgoldpartner {display:none;}
#header img#sswlogo {width:65px; height:50px;}
.formHeader h1 {margin:10px 0 10px; clear:both; font-size:14px;}
div.item p {font-weight:bold;}
div.item p.printFloat {float:left; margin-right:10px;}
div.item p span {font-weight:normal;}
div.item {clear:both;}
#aboutPerson input {margin-bottom:10px; margin-right:10px; border-bottom:1px solid #000; border-top:none; border-left:none; border-right:none; width:200px; }
#formContent input.list {border-top:none; border-left:none; border-right:none; border-bottom:1px solid #000; width:90%;}
#formContent p {line-height:12px;}
#aboutSession .item table.diagram tbody tr td.fixedWidth {width:80px;}
#aboutSession .item, #aboutSSW .item {margin:20px 0;}
#aboutSession .item span, #aboutSSW .item span {margin-right:12px;}
.interInfoBoxSide {display:none;}
#aboutSession .item table.diagram tbody tr td {border-bottom:1px solid #ccc;}
.printNone,.connect_widget {display:none;}
span.print input {display:block; border-bottom:1px solid #000; border-top:none; border-left:none; border-right:none;}
ul.screenNone li {list-style:none; margin-left:0;}
#header h1 {padding:10px 0 10px 130px;}
#footer {display:none;}
.thankYou {clear:both; font-size:16px; font-weight:normal; margin:20px 0;}
#facebookFrame {display:none;}
#tfssb_area {display:none; border:1px solid red;}
#LikePluginPagelet {display:none;}

#Header .breadcrumb a[href]:after, a#MenuLogo[href]:after {
    content:none;
  }

