@Import url(Content.css);
@Import url(Footer.css);
@Import url(Header.css);
@Import url(Sidebar.css);

*
{
	/*padding:0;*/
	margin:0;
	
	font-family: Verdana, Sans-Serif;
	font-size: 1em;
}


BODY {font-size:75%}

UL, OL, OL LI, UL LI, DL DT, DL DD
{
	line-height: 17px;
	margin:0px 0px 0px 15px;
}

* p
{
	/*margin: 7px 0 7px 0;*/
	margin: 7px 0 7px 0;
	line-height: 17px;
	/*line-height: 120%;*/
}


.phoneNumber
{
	speak: spell-out;
	speak-numeral: digits;
}