<?xml version="1.0"?>

<configuration>
	<system.web>
		<httpHandlers>
			<!-- 27/11/2007 EL: Only enable the browse on this folder. TODO:need to be fixed -->
			<add path="*/BrowseXML.aspx" verb="*" type="SSW.Web.Common.XMLFolderBrowserHandler,SSW.Web.Common"/>
			<add path="*/Browse.aspx" verb="*" type="SSW.Website.WebUI.FolderBrowserHandler"/>
		</httpHandlers >
  </system.web>
  <system.diagnostics>
    <assert assertuienabled="false" logfilename="c:\assertuilog.txt"/>
  </system.diagnostics>
</configuration>
