name: push-to-blob-on-push

on:
  push:
    branches:
      - upload-to-blob
    paths:
      - 'archive/**'
  workflow_dispatch:

jobs:
  run-shell-script:
    runs-on: ubuntu-latest
    env:
      ARCHIVE_KEY: ${{ secrets.AZURE_BLOB_STORAGE_KEY }}
    steps:
      - uses: actions/checkout@v4
      - run: | 
          sudo apt-get install 
          AZ_CLI_DIST=$(lsb_release -cs)
          AZ_CLI_VER=2.76.0
          sudo apt-get install azure-cli=${AZ_CLI_VER}-1~${AZ_CLI_DIST} --allow-downgrades -y
      - run: git update-index --chmod=+x upload-blob.sh
      - run: ./upload-blob.sh
